@import './vars.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-outfit);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*.App {*/
/*  background-color: var(--color-bg);*/
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  position: relative;*/
/*  overflow-x: hidden;*/
/*}*/

/*main {*/
/*  width: 100%;*/
/*  position: relative;*/
/*}*/

/*.innerContainer {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  background: linear-gradient(180deg, #0b0c20 0%, #0e112d 35%, #070817 100%);*/
/*  padding-top: 40px;*/
/*  padding-bottom: 80px;*/
/*  z-index: 10;*/
/*}*/
