:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #7189e3;
    --color-secondary: #19376d;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
    --font-outfit: "Outfit";
}
